* text=auto
*.js text eol=lf
*.mjs text eol=lf
*.cjs text eol=lf
*.html text eol=lf
*.css text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.glb binary
*.wav binary
*.png binary
*.jpg binary
*.wasm binary
